.App {
  text-align: center;
  height: 100vh;
  background-color: DodgerBlue;
  min-height: 100vh;

}

.a-h1 {
text-align: center;
background-color: Gold;
  color: Maroon;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 130px;
}

.Career {
margin: auto;
background-color: DarkGreen;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.Career:hover {
background-color: LightGreen;
  color: white;
}

.Daily {
margin: auto;
background-color: RebeccaPurple;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.Daily:hover {
background-color: Plum;
  color: white;
}

.Love {
margin: auto;
background-color: Crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.Love:hover {
background-color: LightPink;
  color: white;
}

.Spiritual {
margin: auto;
background-color: DarkGoldenRod;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.Spiritual:hover {
background-color: PaleGoldenRod;
  color: white;
}