.CardOfTheDay {
 margin: auto;
}

.a-h1 {
text-align: center;
background-color: #f1ecc4;
  color: #ca643a;
  font-size: 20px;
  padding: 10px 60px;
}

.CotD {
place-items: center;
margin: auto;
background-color: #f1ecc4;
  color: #ca643a;
  border: none;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.CotD:hover {
background-color: Blue;
  color: Gold;
}

.disabled {
opacity: 0.6;
cursor: not-allowed;
}

.Daily {
margin: auto;
background-color: RebeccaPurple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.Daily:hover {
background-color: Plum;
  color: white;
}

.Love {
margin: auto;
background-color: Crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.Love:hover {
background-color: LightPink;
  color: white;
}

.Spiritual {
margin: auto;
background-color: DarkGoldenRod;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.Spiritual:hover {
background-color: PaleGoldenRod;
  color: white;
}