.CardOfTheDay {
 margin: auto;
}

.a-h1 {
text-align: center;
background-color: Gold;
  color: Maroon;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
}

.CotD {
place-items: center;
margin: auto;
background-color: Gold;
  border: none;
  color: Maroon;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.CotD:hover {
background-color: Blue;
  color: Gold;
}

.disabled {
opacity: 0.6;
cursor: not-allowed;
}