.App {
  margin-top: 0px;
  text-align: center;
  height: 100vh;
  background-color: DodgerBlue;
  min-height: 100vh;
}

.buttonNdescription{
display:flex;
margin-right: 30px;
}

.a-h1 {
  margin-top: 0px;
text-align: center;
background-color: Gold;
  color: Maroon;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Career {
background-color: DarkGreen;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  min-width: 132px;
}

.Career:hover {
background-color: LightGreen;
  color: white;
}

.Daily {
background-color: RebeccaPurple;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
    min-width: 132px;
}

.Daily:hover {
background-color: Plum;
  color: white;
}

.Love {
background-color: Crimson;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
    min-width: 132px;
}

.Love:hover {
background-color: LightPink;
  color: white;
}

.Spiritual {
background-color: DarkGoldenRod;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
    min-width: 132px;
}

.Spiritual:hover {
background-color: PaleGoldenRod;
  color: white;
}