.HTFPage {
height: 150vh;
background-color: white;
}

.content-box-htf {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0px;
}

.morning {
margin-top: 0px;
}

.Reading {
margin: auto;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 170px;
}