.LinearDayPage {
height: 150vh;
background-color: white;
}

.content-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0px;
  padding: 20px;
}

.morning {
margin-top: 0px;
}

.reading {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 170px;
}

.clickable {
  cursor: pointer;
}