.CareerPage {
text-align: center;
height: 100vh;
background-color: YellowGreen;
}

.cp-h1 {
text-align: center;
background-color: DarkGreen;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 130px;
  margin-top: 0px;
}

.ShootingForward {
margin: auto;
background-color: OliveDrab;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
}

.ShootingForward:hover {
background-color: LightGreen;
  color: white;
}
