.CareerPage {
text-align: center;
height: 100vh;
background-color: YellowGreen;
}

.cp-h1 {
text-align: center;
background-color: DarkGreen;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back {
margin:auto;
position: absolute;
  left: 20px;
}

.ShootingForward {
margin: 20px;
background-color: OliveDrab;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.ShootingForward2 {
margin: 20px;
background-color: OliveDrab;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: not-allowed;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.ShootingForward:hover {
background-color: LightGreen;
  color: white;
}
