.CareerPage {
text-align: center;
height: 100vh;
background-color: white;
}

.cp-h1 {
  text-align: center;
  background-color: #30968c;
  color: white;
  font-size: 20px;
  padding: 10px 60px;
  margin-top: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.back {
  margin:auto;
  position: absolute;
  left: 20px;
}

.ShootingForward {
  background-color: #30968c;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;  
}

.ShootingForward:hover {
  background-color: #42cfc1;
  color: white;
}

.page-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
}